.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;
    padding: 40px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.2s;
  }
  
  .input:focus {
    border-color: #007bff;
  }
  
  .button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 81px;
    margin-top: 20px;
  }
  
  .card {
    width: 350px;
    height: 200px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .cardTitle {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardText {
    margin-top: 50px;
    font-size: 20px;
    color: #888;
  }
  
  .deleteButton {
    position: absolute;
    top: 20px;
    left: 230px;
    padding: 10px 10px;
    font-size: 12px;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  